.container {
display: grid;
grid-template-columns: repeat(16,20px);
grid-template-rows: repeat(16,20px);

}

.box {
border-color: rgb(159, 159, 159);
border-width: 1px;
border-style: solid;
height: 20px;
width: 20px;
background-color: white;
}