.container {
display: grid;
max-width: 99vw;
max-height: 99vh;
grid-template-columns: repeat(16,20px);
grid-template-rows: repeat(16,20px);
margin: 0px;

}

.box {
border-color: rgb(159, 159, 159);
border-width: 1px;
border-style: solid;
height: auto;
width: auto;
background-color: white;
}